<!DOCTYPE html>
<html>
  <head>
    <title>Github OAuth</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Mandatory 2 - Integrate with an auth service</h1>
      <hr />
      <h1><span class="fa fa-github"></span> Github OAuth</h1>
      <a
        href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>"
        class="btn btn-danger"
        ><span class="fa fa-github"></span> Github Login</a
      >
    </div>
  </body>
</html>
